body {
  background-color: #222;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}
#scope {
  background-color: #444;
  display: block;
}
.overlay-box {
  display: block;
  height: 432px;
}
.overlay-box > * {
  position: absolute;
}
#game-bg {
  background-color: #222;
  color: #8af;
  z-index: 1;
}
#game {
  z-index: 2;
}
#click-to-start {
  z-index: 2;
  margin: 4em;
}
#lap-time {
  position: relative;
  padding-top: 1em;
  padding-left: 1em;
}
#settings {
  padding-top: 2em;
  padding-left: 1em;
  font-size: small;
}
summary {
  margin-bottom: 1em;
}
button {
  background-color: #444;
  color: #fff;
  margin-top: 1em;
}
input {
  background-color: #444;
  color: #fff;
}
